body {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dice {
    width: 100px;
    height: 100px;
    background-color: beige;
    border-radius: 10%;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    top: 15%;
    left: 15%;
}

.top-right {
    top: 15%;
    right: 15%;
}

.middle-left {
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.middle-right {
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

.bottom-left {
    bottom: 15%;
    left: 15%;
}

.bottom-right {
    bottom: 15%;
    right: 15%;
}
